# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# PhpStorm
.idea

# Openmage config
/app/etc/local.xml

# CM Redis
/app/code/community/Cm
/app/etc/modules/Cm_RedisSession.xml
/lib/Credis

# Add a base setup for running unit Tests with code coverage and send them to SonarCloud
# https://github.com/OpenMage/magento-lts/pull/1836
/dev/testfield
/dev/tests/clover.xml
/dev/tests/crap4j.xml
/dev/tests/junit.xml

# Add Gitpod online IDE config
# https://github.com/OpenMage/magento-lts/pull/1836
/dev/gitpod/docker-magento
/dev/gitpod/.env

# Add development environment setup files and README
# https://github.com/OpenMage/magento-lts/pull/1012
/dev/openmage/docker-magento
/dev/openmage/.env
/dev/openmage/Caddyfile
/dev/tests/functional/generated
/dev/tests/functional/vendor

/media/*
!/media/.htaccess
!/media/custom_options/.htaccess
!/media/customer/.htaccess
!/media/dhl/logo.jpg
!/media/downloadable/.htaccess

/var/*
!/var/.htaccess

# composer
/vendor

# scss-cache
/skin/*/*/*/scss/.sass-cache

# .phar (n98-magerun, ...)
*.phar

# PHP-CS-Fixer cache
.php-cs-fixer.cache

# Ignore custom config files
.php-cs-fixer*
!.php-cs-fixer.dist.*

.phpcs*.xml
!.phpcs*.xml.dist

phpstan*.neon
!phpstan.dist.*.neon

tests/*.xml
tests/output/*.xml
.phpunit.result.cache
phpunit.xml
!phpunit.xml.dist

# dev scripts loaded via composer
/shell/update-copyright.php
/shell/translations.php

# DDEV
.ddev/config.yaml
.ddev/.sampleData
