includes:
    - vendor/macopedia/phpstan-magento1/extension.neon
    - .phpstan.dist.baseline.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
    phpVersion:
        min: 80100
        max: 80599
    magentoRootPath: %currentWorkingDirectory%
    tmpDir: .phpstan.cache
    level: 5
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    treatPhpDocTypesAsCertain: false
#    universalObjectCratesClasses:
#        - Varien_Object
