<?xml version="1.0"?>
<ruleset name="OpenMage" namespace="OpenMage\CS\Standard">
    <file>api.php</file>
    <file>cron.php</file>
    <file>get.php</file>
    <file>index.php</file>
    <file>install.php</file>
    <file>app/Mage.php</file>
    <file>app/code/core/Mage/</file>
    <file>errors/</file>
    <file>lib/Mage/</file>
    <file>lib/Magento/</file>
    <file>lib/Varien/</file>
    <file>shell/</file>
    <!--
    <rule ref="Ecg" />
    -->
    <!-- @todo check for performance! -->
    <rule ref="Ecg.Performance.Loop.ModelLSD">
        <exclude-pattern>*/core/Mage/Admin/Model/Acl/Role/Registry.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Admin/Model/Resource/User.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/Block/Catalog/Product/Attribute/Set/Main.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/Block/Report/Config/Form/Field/YtdStart.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/Block/Sales/Order/Creditmemo/Create/Items.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/Block/Widget/Grid.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/controllers/CustomerController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/controllers/IndexController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/controllers/NotificationController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/controllers/PollController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/controllers/RatingController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/controllers/TagController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/controllers/Catalog/ProductController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/controllers/Catalog/SearchController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/controllers/Catalog/Product/ReviewController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/controllers/Catalog/Product/Action/AttributeController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/controllers/Newsletter/SubscriberController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/controllers/Promo/QuoteController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/controllers/Sales/OrderController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/controllers/System/Convert/ProfileController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/controllers/Tax/RateController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/Model/Email/Template.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/Model/Giftmessage/Save.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/Model/Sales/Order/Create.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/Model/System/Config/Backend/Category.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/Model/System/Config/Backend/Locale.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Adminhtml/Model/System/Config/Backend/Customer/Show/Customer.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Api/Model/Resource/User.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Api2/Model/Observer.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Api2/controllers/Adminhtml/Api2/AttributeController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Api2/controllers/Adminhtml/Api2/RoleController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Authorizenet/Helper/Data.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Backup/Model/Fs/Collection.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Bundle/Model/Product/Type.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Catalog/Model/Api2/Product/Website/Rest.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Catalog/Model/Convert/Adapter/Product.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Catalog/Model/Convert/Parser/Product.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Catalog/Model/Product/Option.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Catalog/Model/Product/Attribute/Backend/Price.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Catalog/Model/Product/Attribute/Backend/Groupprice/Abstract.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Catalog/Model/Product/Option/Value.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Catalog/Model/Product/Type/Configurable.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Catalog/Model/Resource/Category/Flat.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Catalog/Model/Resource/Category/Indexer/Product.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Catalog/Model/Resource/Product.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Catalog/Model/Resource/Product/Link.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Catalog/Model/Resource/Product/Option.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Catalog/Model/Resource/Product/Compare/Item.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Catalog/Model/Resource/Product/Indexer/Price.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Catalog/Model/Resource/Product/Option/Value.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/CatalogIndex/Model/Indexer.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/CatalogInventory/Model/Observer.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/CatalogInventory/Model/Api2/Stock/Item/Rest.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/CatalogRule/Model/Observer.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Cron/Model/Observer.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Downloadable/Model/Product/Type.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Downloadable/Model/Observer.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Checkout/Model/Cart/Api.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Checkout/Model/Type/Multishipping.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Core/Model/Email/Queue.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Core/Model/File/Storage.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Core/Model/File/Storage/Directory/Database.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Core/Model/Resource/Db/Collection/Abstract.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Core/Model/Resource/Transaction.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Core/Model/Resource/Translate/String.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Core/Model/Session/Abstract.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Core/Model/Session/Abstract/Varien.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Customer/Model/Convert/Adapter/Customer.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Customer/Model/Convert/Parser/Customer.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Customer/Model/Resource/Customer.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Customer/Model/Resource/Group.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Dataflow/Model/Profile.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Dataflow/Model/Convert/Mapper/Column.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Dataflow/Model/Convert/Parser/Csv.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Dataflow/Model/Convert/Parser/Xml/Excel.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Dataflow/Model/Session/Parser/Csv.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Directory/Model/Currency/Import/Abstract.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Downloadable/Model/Resource/Link.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Eav/Model/Convert/Adapter/Entity.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Eav/Model/Convert/Adapter/Grid.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Eav/Model/Entity/Abstract.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Eav/Model/Entity/Setup.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Eav/Model/Entity/Attribute/Set.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Eav/Model/Entity/Collection/Abstract.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Eav/Model/Form/Type.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Eav/Model/Resource/Entity/Attribute.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Eav/Model/Resource/Entity/Attribute/Group.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Eav/Model/Resource/Entity/Attribute/Set.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/GiftMessage/Model/Observer.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/ImportExport/Model/Export/Entity/Product.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/ImportExport/Model/Import/Entity/Product.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/ImportExport/Model/Import/Entity/Product/Type/Configurable.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/ImportExport/Model/Import/Entity/Product/Type/Grouped.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/ImportExport/Model/Import/Proxy/Product/Resource.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Index/controllers/Adminhtml/ProcessController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Index/Model/Process.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Index/Model/Resource/Event.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Log/Model/Resource/Log.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Newsletter/Model/Queue.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Oauth/controllers/Adminhtml/Oauth/Admin/TokenController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Oauth/controllers/Adminhtml/Oauth/AuthorizedTokensController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Paypal/Model/Ipn.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Paypal/Model/Report/Settlement.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Poll/Model/Poll.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Poll/Model/Resource/Poll.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/ProductAlert/Model/Observer.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Reports/Model/Resource/Event.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Reports/Model/Resource/Customer/Collection.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Reports/Model/Resource/Product/Index/Abstract.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Rating/Model/Resource/Rating/Option/Vote/Collection.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Rating/Model/Resource/Rating/Option.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Review/Model/Resource/Review/Collection.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Review/Model/Resource/Review/Product/Collection.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Sales/Model/Entity/Order/Attribute/Backend/Parent.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Sales/Model/Entity/Order/Creditmemo/Attribute/Backend/Parent.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Sales/Model/Entity/Order/Invoice/Attribute/Backend/Parent.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Sales/Model/Entity/Order/Shipment/Attribute/Backend/Parent.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Sales/Model/Entity/Quote.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Sales/Model/Order/Api.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Sales/Model/Order/Invoice.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Sales/Model/Order/Payment.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Sales/Model/Quote/Item.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Sales/Model/Resource/Order/Attribute/Backend/Parent.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Sales/Model/Resource/Order/Creditmemo/Attribute/Backend/Parent.php</exclude-pattern>
        <exclude-pattern>*/core/Mage/Sales/Model/Resource/Order/Invoice/Attribute/Backend/Parent.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Sales/Model/Resource/Order/Shipment/Attribute/Backend/Parent.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Sales/Model/Observer.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Sales/Model/Order.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Sales/Model/Order/Creditmemo.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Sales/Model/Order/Shipment.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/SalesRule/Model/Observer.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/SalesRule/Model/Rule.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Tag/controllers/IndexController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Tag/Model/Api.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Tag/Model/Resource/Product/Collection.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Tax/Model/Observer.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Tax/Model/Calculation/Rate.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Tax/Model/Calculation/Rule.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Tax/Model/Resource/Setup.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Wishlist/controllers/IndexController.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Wishlist/Model/Item.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Wishlist/Model/Observer.php*</exclude-pattern>
        <exclude-pattern>*/lib/Mage/Backup/Filesystem/Rollback/Ftp.php*</exclude-pattern>
        <exclude-pattern>*/lib/Varien/Cache/Core.php*</exclude-pattern>
        <exclude-pattern>*/lib/Varien/Cache/Backend/Memcached.php*</exclude-pattern>
        <exclude-pattern>*/lib/Varien/Convert/Parser/Csv.php*</exclude-pattern>
        <exclude-pattern>*/lib/Varien/Object/Cache.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/*/data/*</exclude-pattern>
        <exclude-pattern>*/core/Mage/*/sql/*</exclude-pattern>
    </rule>
    <rule ref="Ecg.Classes.Mysql4.Found">
        <exclude-pattern>*/core/Mage/Catalog/Model/Resource/Eav/Mysql4/**.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Install/Block/Db/Type/Mysql4.php*</exclude-pattern>
        <exclude-pattern>*/core/Mage/Install/Model/Installer/Db/Mysql4.php*</exclude-pattern>
        <!-- remove when MySql4 classes are removed -->
        <exclude-pattern>*/core/Mage/*/Model/Mysql4/**.php*</exclude-pattern>
        <!-- resource helpers - keep -->
        <exclude-pattern>*/core/Mage/*/Model/Resource/Helper/Mysql4.php*</exclude-pattern>
    </rule>
</ruleset>
