includes:
    - vendor/macopedia/phpstan-magento1/extension.neon
    - .phpstan.dist.baseline.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
    magentoRootPath: %currentWorkingDirectory%
    fileExtensions:
      - php
      - phtml
    paths:
        - api.php
        - cron.php
        - get.php
        - index.php
        - install.php
        - app/Mage.php
        - app/code/core/Mage
        - app/design/
        - errors
        - lib/Mage
        - lib/Magento
        - lib/Varien
        - shell
        - tests/unit
    excludePaths:
        # Too much noise from "Variable $this might not be defined"
        - app/code/core/*/*/data/*
        - app/code/core/*/*/sql/*
    tmpDir: .phpstan.cache
    level: 5
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    treatPhpDocTypesAsCertain: false
#    universalObjectCratesClasses:
#        - Varien_Object
