includes:
    - vendor/macopedia/phpstan-magento1/extension.neon
    - phpstan.dist.baseline.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
    magentoRootPath: %currentWorkingDirectory%
    paths:
        - api.php
        - cron.php
        - get.php
        - index.php
        - install.php
        - app/Mage.php
        - app/code/core/Mage
        - lib/Mage
        - lib/Magento
        - lib/Varien
        - shell
    excludePaths:
        # removed and fixed modules (OM-2811, OM-2813)
        - app/code/core/Mage/Backup/*
        - app/code/core/Mage/PageCache/*

        #incompatible interfaces
        - app/code/core/Mage/Admin/Model/Acl/Assert/Ip.php
        - app/code/core/Mage/Admin/Model/Acl/Assert/Time.php
        - app/code/core/Mage/Api/Model/Acl/Assert/Ip.php
        - app/code/core/Mage/Api/Model/Acl/Assert/Time.php
        - app/code/core/Mage/Adminhtml/Block/Widget/Grid/Block.php
        - app/code/core/Mage/Core/Model/Mysql4/Design/Theme/Collection.php
        - lib/Varien/Directory/Collection.php
        - lib/Varien/Directory/Factory.php
        - lib/Varien/File/Object.php

        # deprecated _getHelper()
        - app/code/core/Mage/Adminhtml/Controller/Rss/Abstract.php
        - app/code/core/Mage/Adminhtml/controllers/Rss/OrderController.php
        - app/code/core/Mage/Adminhtml/controllers/Rss/CatalogController.php

        # contains 1 abstract method and must therefore be declared abstract or implement the remaining methods
        - app/code/core/Mage/Dataflow/Model/Session/Adapter/Http.php
        - app/code/core/Mage/Dataflow/Model/Convert/Iterator/Http.php
        - app/code/core/Mage/Dataflow/Model/Convert/Iterator/File/Csv.php
        - lib/Varien/Convert/Validator/Column.php

        # Cannot declare class Varien_Date, because the name is already in use
        - app/code/core/Mage/Catalog/Model/Product/Option/Type/Date.php

        # Cannot declare class XMLParser, because the name is already in use
        - app/code/core/Mage/Centinel/Model/Api.php
        - app/code/core/Mage/Centinel/Model/Api/Client.php

        # Class phpseclib\Net\SSH2 not found.
        - app/code/core/Mage/Paypal/Model/Report/Settlement.php
        - lib/Varien/Io/Sftp.php

        # Class backup/db was not found while trying to analyse it
        - app/code/core/Mage/Adminhtml/controllers/System/BackupController.php

        # Dataflow/Model/Convert/Iterator.php
        - app/code/core/Mage/Dataflow/Model/Convert/Iterator.php

        # Too much noise from "Variable $this might not be defined"
        - app/code/core/*/*/data/*
        - app/code/core/*/*/sql/*

        # requires Mycrypt
        - lib/Magento/Crypt.php
        - lib/Varien/Crypt/Mcrypt.php

        # Instantiated class not found
        - lib/Varien/Image/Adapter.php
    ignoreErrors:
        -
            # method does not exist and is not used anywhere - remove?
            message: '#^Call to an undefined method Mage_Admin_Model_Resource_Roles::update+[\\(\\)]+.#'
            count: 1
            path: app/code/core/Mage/Admin/Model/Roles.php
        -
            # method does not exist and is not used anywhere - remove?
            message: '#^Call to an undefined method Mage_Admin_Model_Resource_Rules::update+[\\(\\)]+.#'
            count: 1
            path: app/code/core/Mage/Admin/Model/Rules.php
        -
            # L6: we cannot add return types w/o breaking 3rd party code ... needs rector first
            message: '#^Method [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_\\(\\)]+ has no return type specified.#'
            reportUnmatched: false
        -
            # L6: we cannot add detailed array types... too much work right now
            # phpstan 1.11: see: https://phpstan.org/error-identifiers#gbi-missingtype.iterablevalue
            # identifier: missingType.iterableValue
            message: '#^Method [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_\\(\\)]+ has parameter \$[a-zA-Z0-9\\_]+ with no value type specified in iterable type array.#'
            reportUnmatched: false
        -
            # L6: we cannot add detailed array types... too much work right now
            # identifier: missingType.iterableValue
            message: '#^Method [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_\\(\\)]+ return type has no value type specified in iterable type array.#'
            reportUnmatched: false
        -
            # L6: we cannot add detailed array types... too much work right now
            # identifier: missingType.iterableValue
            message: '#^Property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9\\_]+ type has no value type specified in iterable type array.#'
            reportUnmatched: false
        -
            # L7: comes from Mage::getConfig()->getNode() ... need further investigation
            message: '#^Method [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_\\(\\)]+ should return array\|Varien_Simplexml_Element but returns array\|Varien_Simplexml_Element\|false.#'
            reportUnmatched: false
        -
            # L7: comes from Mage::getConfig()->getNode() ... need further investigation
            message: '#^Cannot call method [a-zA-Z0-9\\_\\(\\)]+ on Varien_Simplexml_Element\|false.#'
            reportUnmatched: false
        -
            # L7: comes from Mage::getConfig()->getNode() ... need further investigation
            message: '#^Cannot access property \$[a-zA-Z0-9\\_]+ on Varien_Simplexml_Element\|false.#'
            reportUnmatched: false
        -
            # L8: comes from Mage::getConfig()->getNode() ... need further investigation
            message: '#^Cannot call method [a-zA-Z0-9\\_\\(\\)]+ on Mage_Core_Model_Config\|null.#'
            reportUnmatched: false
    level: 4
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    treatPhpDocTypesAsCertain: false

#    universalObjectCratesClasses:
#        - Varien_Object
