<!--@subject Payment Transaction Failed Reminder @-->
<!--@vars
{"var reason":"Transaction Failed Reason",
"var checkoutType":"Checkout Type",
"var customerEmail":"Customer Email",
"var customer":"Customer Name",
"var items":"Shopping Cart Items",
"var total":"Total",
"var billingAddress.format('html')":"Billing Address",
"var shippingAddress.format('html')":"Shipping Address",
"var shippingMethod":"Shipping Method",
"var paymentMethod":"Payment Method",
"var dateAndTime":"Date and Time of Transaction"}
@-->

<table>
    <thead>
        <tr>
            <th>Zahlungstransaktion fehlgeschlagen.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    <b>Grund</b><br />
                    {{var reason}}
                </p>
                <p>
                    <b>Kassentyp</b><br />
                    {{var checkoutType}}
                </p>
                <p>
                    <b>Kunde:</b><br />
                    <a href="mailto:{{var customerEmail}}">{{var customer}}</a> &lt;{{var customerEmail}}&gt;
                </p>
                <p>
                    <b>Artikel</b><br />
                    {{var items}}
                </p>
                <p>
                    <b>Summe:</b><br />
                    {{var total}}
                </p>
                <p>
                    <b>Rechnungsanschrift:</b><br />
                    {{var billingAddress.format('html')}}
                </p>
                <p>
                    <b>Lieferadresse:</b><br />
                    {{var shippingAddress.format('html')}}
                </p>
                <p>
                    <b>Liefermethode:</b><br />
                    {{var shippingMethod}}
                </p>
                <p>
                    <b>Zahlungsform:</b><br />
                    {{var paymentMethod}}
                </p>
                <p>
                    <b>Datum/Uhrzeit:</b><br />
                    {{var dateAndTime}}
                </p>
            </td>
        </tr>
    </tbody>
</table>