<?xml version="1.0" encoding="UTF-8"?>

<phpunit

        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
        backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="TestfieldUnit">
            <directory>./testfield/tests/Unit</directory>
        </testsuite>
        <testsuite name="TestfieldFullstack">
            <directory>./testfield/tests/MagentoHackathon/Composer/FullStack</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>./tests/unit</directory>
        </testsuite>
    </testsuites>

    <coverage
            includeUncoveredFiles="true"
            processUncoveredFiles="false"
    >
        <include>
            <directory suffix=".php">../app/code</directory>
            <directory suffix=".php">../lib</directory>
        </include>
        <exclude>
            <file>../app/bootstrap.php</file>
            <file>../app/code/core/Mage/Admin/Model/Acl/Assert/Ip.php</file>
            <file>../app/code/core/Mage/Admin/Model/Acl/Assert/Time.php</file>
        </exclude>
        <report>
            <clover outputFile="./tests/clover.xml"/>
            <crap4j outputFile="./tests/crap4j.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="./tests/junit.xml"/>
    </logging>
</phpunit>
