<?xml version="1.0"?>
<!--
/**
 * @copyright  For copyright and license information, read the COPYING.txt file.
 * @link       /COPYING.txt
 * @license    Academic Free License (AFL 3.0)
 * @package    Mage_AdminNotification
 */
-->
<config>
    <modules>
        <Mage_AdminNotification>
            <version>1.6.0.0</version>
        </Mage_AdminNotification>
    </modules>
    <global>
        <models>
            <adminnotification>
                <class>Mage_AdminNotification_Model</class>
                <resourceModel>adminnotification_resource</resourceModel>
            </adminnotification>
            <adminnotification_resource>
                <class>Mage_AdminNotification_Model_Resource</class>
                <deprecatedNode>adminnotification_mysql4</deprecatedNode>
                <entities>
                    <inbox>
                        <table>adminnotification_inbox</table>
                    </inbox>
                </entities>
            </adminnotification_resource>
        </models>
        <helpers>
            <adminnotification>
                <class>Mage_AdminNotification_Helper</class>
            </adminnotification>
        </helpers>
        <resources>
            <adminnotification_setup>
                <setup>
                    <module>Mage_AdminNotification</module>
                </setup>
            </adminnotification_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Mage_AdminNotification>
                    <files>
                        <default>Mage_AdminNotification.csv</default>
                    </files>
                </Mage_AdminNotification>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch>
                <observers>
                    <adminnotification>
                        <class>adminnotification/observer</class>
                        <method>preDispatch</method>
                    </adminnotification>
                </observers>
            </controller_action_predispatch>
        </events>
        <layout>
            <updates>
                <adminnotification>
                    <file>adminnotification.xml</file>
                </adminnotification>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <system>
            <adminnotification>
                <feed_url>www.openmage.org/Web_Notifications/notifications_v1.rss</feed_url>
                <severity_icons_url>widgets.magentocommerce.com/%s/%s.gif</severity_icons_url>
                <use_https>1</use_https>
                <frequency>1</frequency>
                <last_update>0</last_update>
            </adminnotification>
        </system>
    </default>
</config>
