<?xml version="1.0"?>
<!--
/**
 * @copyright  For copyright and license information, read the COPYING.txt file.
 * @link       /COPYING.txt
 * @license    Academic Free License (AFL 3.0)
 * @package    Mage_AdminNotification
 */
-->
<config>
    <sections>
        <system>
            <groups>
                <adminnotification translate="label" module="adminnotification">
                    <label>Notifications</label>
                    <sort_order>250</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <frequency translate="label">
                            <label>Update Frequency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_notification_frequency</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </frequency>
                        <last_update translate="label">
                            <label>Last Update</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>adminhtml/system_config_form_field_notification</frontend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </last_update>
                        <feed_url>
                            <label>Feed Url</label>
                            <backend_model>adminhtml/system_config_backend_protected</backend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </feed_url>
                    </fields>
                </adminnotification>
            </groups>
        </system>
    </sections>
</config>
