<?xml version="1.0"?>
<!--
/**
 * @copyright  For copyright and license information, read the COPYING.txt file.
 * @link       /COPYING.txt
 * @license    Academic Free License (AFL 3.0)
 * @package    Mage_Cms
 */
-->
<config>
    <sections>
        <web>
            <groups>
                <default>
                    <fields>
                        <cms_home_page translate="label" module="cms">
                            <label>CMS Home Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_cms_page</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cms_home_page>
                        <cms_no_route translate="label"  module="cms">
                            <label>CMS No Route Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_cms_page</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cms_no_route>
                        <cms_no_cookies translate="label"  module="cms">
                            <label>CMS No Cookies Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_cms_page</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cms_no_cookies>
                        <show_cms_breadcrumbs translate="label" module="cms">
                            <label>Show Breadcrumbs for CMS Pages</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_cms_breadcrumbs>
                    </fields>
                </default>
                <seo translate="label" module="cms">
                    <fields>
                        <cms_canonical_tag translate="label">
                            <label>Use Canonical Link Meta Tag For CMS Pages</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cms_canonical_tag>
                    </fields>
                </seo>
            </groups>
        </web>
        <cms translate="label" module="cms">
            <label>Content Management</label>
            <tab>general</tab>
            <sort_order>1001</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <wysiwyg translate="label">
                    <label>WYSIWYG Options</label>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable WYSIWYG Editor</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_cms_wysiwyg_enabled</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <skin translate="label">
                            <label>Skin WYSIWYG Editor</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_cms_wysiwyg_skin</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled separator="|">
                                    <value>enabled|hidden</value>
                                </enabled>
                            </depends>
                        </skin>
                    </fields>
                </wysiwyg>
            </groups>
        </cms>
    </sections>
</config>
