<?xml version="1.0"?>
<!--
/**
 * @copyright  For copyright and license information, read the COPYING.txt file.
 * @link       /COPYING.txt
 * @license    Academic Free License (AFL 3.0)
 * @package    Mage_PaypalUk
 */
-->
<config>
    <modules>
        <Mage_PaypalUk>
            <version>1.6.0.0</version>
        </Mage_PaypalUk>
    </modules>
    <global>
        <models>
            <paypaluk>
                <class>Mage_PaypalUk_Model</class>
                <resourceModel>paypaluk_resource</resourceModel>
            </paypaluk>
            <paypaluk_resource>
                <class>Mage_PaypalUk_Model_Resource</class>
                <deprecatedNode>paypaluk_mysql4</deprecatedNode>
                <entities>
                    <api_debug>
                        <table>paypaluk_api_debug</table>
                    </api_debug>
                </entities>
            </paypaluk_resource>
        </models>
        <helpers>
            <paypaluk>
                <class>Mage_PaypalUk_Helper</class>
            </paypaluk>
        </helpers>
        <resources>
            <paypaluk_setup>
                <setup>
                    <module>Mage_PaypalUk</module>
                </setup>
            </paypaluk_setup>
        </resources>
        <blocks>
            <paypaluk>
                <class>Mage_PaypalUk_Block</class>
            </paypaluk>
        </blocks>
    </global>
    <frontend>
        <secure_url>
            <paypaluk_express>/paypaluk/express</paypaluk_express>
        </secure_url>
        <routers>
            <paypaluk>
                <use>standard</use>
                <args>
                    <module>Mage_PaypalUk</module>
                    <frontName>payflow</frontName>
                </args>
            </paypaluk>
        </routers>
        <translate>
            <modules>
                <Mage_PaypalUk>
                    <files>
                        <default>Mage_PaypalUk.csv</default>
                    </files>
                </Mage_PaypalUk>
            </modules>
        </translate>
        <layout>
            <updates>
                <paypaluk>
                    <file>paypaluk.xml</file>
                </paypaluk>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mage_PaypalUk>
                    <files>
                        <default>Mage_PaypalUk.csv</default>
                    </files>
                </Mage_PaypalUk>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <paypaluk_express>
                <model>paypaluk/express</model>
            </paypaluk_express>
            <paypaluk_express_bml>
                <model>paypaluk/bml</model>
                <title>Paypal Credit</title>
                <group>paypal</group>
            </paypaluk_express_bml>
            <paypaluk_direct>
                <model>paypaluk/direct</model>
            </paypaluk_direct>
        </payment>
    </default>
</config>
