Options All -Indexes

############################################
## Disable PHP7/PHP8 code execution for media directory

<IfModule mod_php7.c>
    php_flag engine 0
</IfModule>

<IfModule mod_php8.c>
    php_flag engine 0
</IfModule>

AddHandler cgi-script .php .pl .py .jsp .asp .htm .shtml .sh .cgi
Options -ExecCGI

<IfModule mod_rewrite.c>

############################################
## Enable rewrites

    Options +FollowSymLinks
    RewriteEngine on

############################################
## Never rewrite for existing files

    RewriteCond %{REQUEST_FILENAME} !-f

############################################
## Rewrite everything else to get.php

    RewriteRule (.*) ../get.php [L]

</IfModule>
