<?xml version="1.0"?>
<!--
/**
 * @copyright  For copyright and license information, read the COPYING.txt file.
 * @link       /COPYING.txt
 * @license    Academic Free License (AFL 3.0)
 * @package    Mage_SalesRule
 */
-->
<config>
    <sections>
        <promo translate="label" module="salesrule">
            <class>separator-top</class>
            <label>Promotions</label>
            <tab>customer</tab>
            <sort_order>400</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <auto_generated_coupon_codes translate="label" module="salesrule">
                    <label>Auto Generated Specific Coupon Codes</label>
                    <show_in_default>1</show_in_default>
                    <sort_order>10</sort_order>
                    <fields>
                        <length translate="label comment" module="salesrule">
                            <label>Code Length</label>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Excluding prefix, suffix and separators.</comment>
                            <frontend_class>validate-digits</frontend_class>
                        </length>
                        <format translate="label" module="salesrule">
                            <label>Code Format</label>
                            <frontend_type>select</frontend_type>
                            <source_model>salesrule/system_config_source_coupon_format</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </format>
                        <prefix translate="label" module="salesrule">
                            <label>Code Prefix</label>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </prefix>
                        <suffix translate="label" module="salesrule">
                            <label>Code Suffix</label>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </suffix>
                        <dash translate="label comment" module="salesrule">
                            <label>Dash Every X Characters</label>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>If empty no separation.</comment>
                            <frontend_class>validate-digits</frontend_class>
                        </dash>
                    </fields>
                </auto_generated_coupon_codes>
            </groups>
        </promo>
        <reports>
            <groups>
                <crontab>
                    <fields>
                        <coupons_expr translate="label comment">
                            <label>Coupons</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>600</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Promotion Coupons Usage Report</comment>
                        </coupons_expr>
                    </fields>
                </crontab>
            </groups>
        </reports>
    </sections>
</config>
