<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Phoenix
 * @package     Phoenix_Moneybookers
 * @copyright   Copyright (c) 2020 Phoenix Medien GmbH & Co. KG (http://www.phoenix-medien.de)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Phoenix_Moneybookers>
            <version>1.6.0.0</version>
        </Phoenix_Moneybookers>
    </modules>
    <global>
        <models>
            <moneybookers>
                <class>Phoenix_Moneybookers_Model</class>
            </moneybookers>
        </models>
        <helpers>
            <moneybookers>
                <class>Phoenix_Moneybookers_Helper</class>
            </moneybookers>
        </helpers>
        <resources>
            <moneybookers_setup>
                <setup>
                    <module>Phoenix_Moneybookers</module>
                </setup>
            </moneybookers_setup>
        </resources>
        <blocks>
            <moneybookers><class>Phoenix_Moneybookers_Block</class></moneybookers>
        </blocks>
        <template>
            <email>
               <moneybookers_activateemail>
                   <label>Moneybookers activate email</label>
                   <file>moneybookers_activateemail.html</file>
                   <type>html</type>
               </moneybookers_activateemail>
            </email>
        </template>
        <payment>
            <groups>
                <mbookers>Moneybookers</mbookers>
            </groups>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <moneybookers_processing>/moneybookers/processing</moneybookers_processing>
        </secure_url>
        <routers>
            <moneybookers>
                <use>standard</use>
                <args>
                    <module>Phoenix_Moneybookers</module>
                    <frontName>moneybookers</frontName>
                </args>
            </moneybookers>
        </routers>
        <translate>
            <modules>
                <Phoenix_Moneybookers>
                    <files>
                        <default>Phoenix_Moneybookers.csv</default>
                    </files>
                </Phoenix_Moneybookers>
            </modules>
        </translate>
        <layout>
            <updates>
                <moneybookers>
                    <file>moneybookers.xml</file>
                </moneybookers>
            </updates>
        </layout>
    </frontend>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <moneybookers after="Mage_Adminhtml">Phoenix_Moneybookers</moneybookers>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Phoenix_Moneybookers>
                    <files>
                        <default>Phoenix_Moneybookers.csv</default>
                    </files>
                </Phoenix_Moneybookers>
            </modules>
        </translate>
        <layout>
            <updates>
                <moneybookers>
                    <file>moneybookers.xml</file>
                </moneybookers>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <moneybookers translate="title" module="moneybookers">
                                            <title>Moneybookers Settings</title>
                                        </moneybookers>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <phoenix>
        <moneybookers>
            <verify_url>http://www.phoenix-medien.de/index.php?id=105</verify_url>
        </moneybookers>
    </phoenix>
    <default>
        <payment>
            <moneybookers_acc>
                <group>mbookers</group>
                <active>0</active>
                <model>moneybookers/acc</model>
                <title>Credit Card / Visa, Mastercard, AMEX, JCB, Diners</title>
                <allowspecific>0</allowspecific>
            </moneybookers_acc>
            <moneybookers_csi>
                <group>mbookers</group>
                <active>0</active>
                <model>moneybookers/csi</model>
                <title>CartaSi</title>
                <allowspecific>1</allowspecific>
                <specificcountry>IT</specificcountry>
            </moneybookers_csi>
            <moneybookers_did>
                <group>mbookers</group>
                <active>0</active>
                <model>moneybookers/did</model>
                <title>Lastschrift (ELV)</title>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
            </moneybookers_did>
            <moneybookers_dnk>
                <group>mbookers</group>
                <active>0</active>
                <model>moneybookers/dnk</model>
                <title>Dankort</title>
                <allowspecific>1</allowspecific>
                <specificcountry>DK</specificcountry>
            </moneybookers_dnk>
            <moneybookers_ebt>
                <group>mbookers</group>
                <active>0</active>
                <model>moneybookers/ebt</model>
                <title>Nordea Solo</title>
                <allowspecific>1</allowspecific>
                <specificcountry>SE</specificcountry>
            </moneybookers_ebt>
            <moneybookers_ent>
                <group>mbookers</group>
                <active>0</active>
                <model>moneybookers/ent</model>
                <title>eNETS</title>
                <allowspecific>1</allowspecific>
                <specificcountry>SG</specificcountry>
            </moneybookers_ent>
            <moneybookers_gcb>
                <group>mbookers</group>
                <active>0</active>
                <model>moneybookers/gcb</model>
                <title>Carte Bleue</title>
                <allowspecific>1</allowspecific>
                <specificcountry>FR</specificcountry>
            </moneybookers_gcb>
            <moneybookers_gir>
                <group>mbookers</group>
                <active>0</active>
                <model>moneybookers/gir</model>
                <title>Giropay</title>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
            </moneybookers_gir>
            <moneybookers_idl>
                <group>mbookers</group>
                <active>0</active>
                <model>moneybookers/idl</model>
                <title>iDeal</title>
                <allowspecific>1</allowspecific>
                <specificcountry>NL</specificcountry>
            </moneybookers_idl>
            <moneybookers_lsr>
                <group>mbookers</group>
                <active>0</active>
                <model>moneybookers/lsr</model>
                <title>Laser</title>
                <allowspecific>1</allowspecific>
                <specificcountry>IE</specificcountry>
            </moneybookers_lsr>
            <moneybookers_mae>
                <group>mbookers</group>
                <active>0</active>
                <model>moneybookers/mae</model>
                <title>Maestro</title>
                <allowspecific>1</allowspecific>
                <specificcountry>GB,AT,ES</specificcountry>
            </moneybookers_mae>
            <moneybookers_npy>
                <group>mbookers</group>
                <active>0</active>
                <model>moneybookers/npy</model>
                <title>EPS Online-Überweisung</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AT</specificcountry>
            </moneybookers_npy>
            <moneybookers_pli>
                <group>mbookers</group>
                <active>0</active>
                <model>moneybookers/pli</model>
                <title>POLi</title>
                <allowspecific>1</allowspecific>
                <specificcountry>AU</specificcountry>
            </moneybookers_pli>
            <moneybookers_psp>
                <group>mbookers</group>
                <active>0</active>
                <model>moneybookers/psp</model>
                <title>Postepay</title>
                <allowspecific>1</allowspecific>
                <specificcountry>IT</specificcountry>
            </moneybookers_psp>
            <moneybookers_pwy>
                <group>mbookers</group>
                <active>0</active>
                <model>moneybookers/pwy</model>
                <title>All Polish Banks</title>
                <allowspecific>1</allowspecific>
                <specificcountry>PL</specificcountry>
            </moneybookers_pwy>
            <moneybookers_sft>
                <group>mbookers</group>
                <active>0</active>
                <model>moneybookers/sft</model>
                <title>Sofortüberweisung</title>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
            </moneybookers_sft>
            <moneybookers_so2>
                <group>mbookers</group>
                <active>0</active>
                <model>moneybookers/so2</model>
                <title>Nordea Solo</title>
                <allowspecific>1</allowspecific>
                <specificcountry>FI</specificcountry>
            </moneybookers_so2>
            <moneybookers_wlt>
                <group>mbookers</group>
                <active>0</active>
                <model>moneybookers/wlt</model>
                <title>Moneybookers eWallet</title>
                <allowspecific>0</allowspecific>
            </moneybookers_wlt>
            <moneybookers_obt>
                <group>mbookers</group>
                <active>0</active>
                <model>moneybookers/obt</model>
                <title>Onlineüberweisung (empfohlen)</title>
                <allowspecific>1</allowspecific>
                <specificcountry>GB,DE</specificcountry>
            </moneybookers_obt>
        </payment>
        <moneybookers>
            <settings>
                <activationstatus>0</activationstatus>
            </settings>
        </moneybookers>
    </default>
</config>
