<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Prezado(a) {{htmlescape var=$customer.name}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Bem-vindo a {{var store.getFrontendName()}}. Para fazer log in ao visitar o nosso site basta clicar <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Conectar-se</a> ou <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Minha Conta</a> no topo de cada página, e então inserir seu endereço de e-mail e senha.</p>
                            <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;">
                                Use os seguintes valores quando fizer o login:<br/>
                                <strong>E-mail</strong>: {{var customer.email}}<br/>
                                <strong>Senha</strong>: {{htmlescape var=$customer.password}}<p>
                            <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">Ao fazer login na sua conta, você poderá fazer o seguinte:</p>
                            <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Passe pelo caixa mais rapidamente ao fazer uma compra</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Verificar a situação dos pedidos</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Visualizar pedidos anteriores</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Alterar informações da sua conta</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Mudar sua senha</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Armazenar endereços alternativos (para enviar para vários membros da família e amigos!)</li>
                            </ul>
                            <p style="font-size:12px; line-height:16px; margin:0;">Se você tiver alguma dúvida sobre a sua conta ou qualquer outra coisa, entre em contato conosco em <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> ou pelo telefone {{config path='general/store_information/phone'}}.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Obrigado novamente, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>