<?xml version="1.0"?>
<!--
/**
 * @copyright  For copyright and license information, read the COPYING.txt file.
 * @link       /COPYING.txt
 * @license    Academic Free License (AFL 3.0)
 * @package    Mage_GoogleAnalytics
 */
-->
<config>
    <modules>
        <Mage_GoogleAnalytics>
            <version>1.6.0.0</version>
        </Mage_GoogleAnalytics>
    </modules>
    <global>
        <models>
            <googleanalytics>
                <class>Mage_GoogleAnalytics_Model</class>
            </googleanalytics>
        </models>
        <blocks>
            <googleanalytics>
                <class>Mage_GoogleAnalytics_Block</class>
            </googleanalytics>
        </blocks>
        <helpers>
            <googleanalytics>
                <class>Mage_GoogleAnalytics_Helper</class>
            </googleanalytics>
        </helpers>
        <resources>
            <googleanalytics_setup>
                <setup>
                    <module>Mage_GoogleAnalytics</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </googleanalytics_setup>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <Mage_GoogleAnalytics>
                    <files>
                        <default>Mage_GoogleAnalytics.csv</default>
                    </files>
                </Mage_GoogleAnalytics>
            </modules>
        </translate>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <googleanalytics_order_success>
                        <class>googleanalytics/observer</class>
                        <method>setGoogleAnalyticsOnOrderSuccessPageView</method>
                    </googleanalytics_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <googleanalytics_order_success>
                        <class>googleanalytics/observer</class>
                        <method>setGoogleAnalyticsOnOrderSuccessPageView</method>
                    </googleanalytics_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
            <sales_quote_item_save_after>
                <observers>
                    <mage_googleanalytics>
                        <class>googleanalytics/observer</class>
                        <method>processItemsAddedOrRemovedFromCart</method>
                    </mage_googleanalytics>
                </observers>
            </sales_quote_item_save_after>
            <sales_quote_item_delete_after>
                <observers>
                    <mage_googleanalytics>
                        <class>googleanalytics/observer</class>
                        <method>processItemsAddedOrRemovedFromCart</method>
                    </mage_googleanalytics>
                </observers>
            </sales_quote_item_delete_after>
        </events>
        <layout>
            <updates>
                <googleanalytics>
                    <file>googleanalytics.xml</file>
                </googleanalytics>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mage_GoogleAnalytics>
                    <files>
                        <default>Mage_GoogleAnalytics.csv</default>
                    </files>
                </Mage_GoogleAnalytics>
            </modules>
        </translate>
    </adminhtml>
</config>
