<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Mage
 * @package    Mage_GiftMessage
 * @copyright  Copyright (c) 2008 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Mage_GiftMessage>
            <version>0.7.2</version>
        </Mage_GiftMessage>
    </modules>
    <global>
        <blocks>
            <giftmessage><class>Mage_GiftMessage_Block</class></giftmessage>
        </blocks>
         <helpers>
            <giftmessage><class>Mage_GiftMessage_Helper</class></giftmessage>
        </helpers>
        <models>
            <giftmessage>
                <class>Mage_GiftMessage_Model</class>
                <resourceModel>giftmessage_mysql4</resourceModel>
            </giftmessage>
            <giftmessage_mysql4>
                <class>Mage_GiftMessage_Model_Mysql4</class>
                <entities>
                    <message>
                        <table>gift_message</table>
                    </message>
                </entities>
            </giftmessage_mysql4>
        </models>
        <resources>
            <giftmessage_setup>
                <setup>
                   <module>Mage_GiftMessage</module>
                   <class>Mage_GiftMessage_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </giftmessage_setup>
            <giftmessage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </giftmessage_write>
            <giftmessage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </giftmessage_read>
        </resources>
    </global>

    <default>
        <sales>
            <gift_messages>
                <allow_items>0</allow_items>
                <allow_order>0</allow_order>
            </gift_messages>
        </sales>
    </default>

    <adminhtml>
        <translate>
            <modules>
                <Mage_GiftMessage>
                    <files>
                        <default>Mage_GiftMessage.csv</default>
                    </files>
                </Mage_GiftMessage>
            </modules>
        </translate>
        <events>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <giftmessage>
                        <type>model</type>
                        <class>giftmessage/observer</class>
                        <method>salesEventConvertQuoteItemToOrderItem</method>
                    </giftmessage>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <sales_convert_quote_address_to_order>
                <observers>
                    <giftmessage>
                        <type>model</type>
                        <class>giftmessage/observer</class>
                        <method>salesEventConvertQuoteAddressToOrder</method>
                    </giftmessage>
                </observers>
            </sales_convert_quote_address_to_order>
            <sales_convert_quote_to_order>
                <observers>
                    <giftmessage>
                        <type>model</type>
                        <class>giftmessage/observer</class>
                        <method>salesEventConvertQuoteToOrder</method>
                    </giftmessage>
                </observers>
            </sales_convert_quote_to_order>
            <adminhtml_sales_order_create_create_order>
                <observers>
                    <giftmessage>
                        <type>model</type>
                        <class>giftmessage/observer</class>
                        <method>checkoutEventCreateOrder</method>
                    </giftmessage>
                </observers>
            </adminhtml_sales_order_create_create_order>
            <sales_convert_order_to_quote>
                <observers>
                    <giftmessage>
                        <type>model</type>
                        <class>giftmessage/observer</class>
                        <method>salesEventOrderToQuote</method>
                    </giftmessage>
                 </observers>
            </sales_convert_order_to_quote>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <giftmessage>
                        <type>model</type>
                        <class>giftmessage/observer</class>
                        <method>salesEventConvertQuoteItemToOrderItem</method>
                    </giftmessage>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <sales_convert_quote_address_to_order>
                <observers>
                    <giftmessage>
                        <type>model</type>
                        <class>giftmessage/observer</class>
                        <method>salesEventConvertQuoteAddressToOrder</method>
                    </giftmessage>
                </observers>
            </sales_convert_quote_address_to_order>
            <sales_convert_quote_to_order>
                <observers>
                    <giftmessage>
                        <type>model</type>
                        <class>giftmessage/observer</class>
                        <method>salesEventConvertQuoteToOrder</method>
                    </giftmessage>
                </observers>
            </sales_convert_quote_to_order>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <giftmessage>
                        <type>model</type>
                        <class>giftmessage/observer</class>
                        <method>checkoutEventCreateGiftMessage</method>
                    </giftmessage>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <checkout_controller_multishipping_shipping_post>
                <observers>
                    <giftmessage>
                        <type>model</type>
                        <class>giftmessage/observer</class>
                        <method>checkoutEventCreateGiftMessage</method>
                    </giftmessage>
                </observers>
            </checkout_controller_multishipping_shipping_post>
            <catalog_product_collection_load_after>
                <observers>
                    <giftmessage>
                        <type>model</type>
                        <class>giftmessage/observer</class>
                        <method>catalogEventProductCollectionAfterLoad</method>
                    </giftmessage>
                </observers>
            </catalog_product_collection_load_after>
            <sales_convert_order_to_quote>
                <observers>
                    <giftmessage>
                        <type>model</type>
                        <class>giftmessage/observer</class>
                        <method>salesEventOrderToQuote</method>
                    </giftmessage>
                </observers>
            </sales_convert_order_to_quote>
        </events>
        <routers>
            <giftmessage>
                <use>standard</use>
                <args>
                    <module>Mage_GiftMessage</module>
                    <frontName>giftmessage</frontName>
                </args>
            </giftmessage>
        </routers>
        <translate>
            <modules>
                <Mage_GiftMessage>
                    <files>
                        <default>Mage_GiftMessage.csv</default>
                    </files>
                </Mage_GiftMessage>
            </modules>
        </translate>
        <layout>
          <updates>
              <giftmessage>
                  <file>giftmessage.xml</file>
              </giftmessage>
          </updates>
      </layout>
    </frontend>
</config>