<?xml version="1.0"?>
<!--
/**
 * @copyright  For copyright and license information, read the COPYING.txt file.
 * @link       /COPYING.txt
 * @license    Academic Free License (AFL 3.0)
 * @package    Mage_Csp
 */
-->
<config>
    <modules>
        <Mage_Csp>
            <version>1.0.0</version>
        </Mage_Csp>
    </modules>
    <global>
        <blocks>
            <csp>
                <class>Mage_Csp_Block</class>
            </csp>
        </blocks>
        <helpers>
            <csp>
                <class>Mage_Csp_Helper</class>
            </csp>
        </helpers>
        <models>
            <csp>
                <class>Mage_Csp_Model</class>
            </csp>
        </models>
        <csp>
            <default-src>
                <self>'self'</self>
            </default-src>
            <script-src>
                <self>'self'</self>
            </script-src>
            <style-src>
                <self>'self'</self>
            </style-src>
            <img-src>
                <self>'self'</self>
                <data-protocol>data:</data-protocol>
            </img-src>
            <connect-src>
                <self>'self'</self>
            </connect-src>
            <font-src>
                <self>'self'</self>
            </font-src>
            <frame-src>
                <self>'self'</self>
            </frame-src>
            <media-src>
                <self>'self'</self>
            </media-src>
            <object-src>
                <none>'none'</none>
            </object-src>
            <form-action>
                <self>'self'</self>
            </form-action>
        </csp>
    </global>
    <frontend>
        <layout>
            <updates>
                <csp_meta>
                    <file>csp.xml</file>
                </csp_meta>
            </updates>
        </layout>
        <events>
            <http_response_send_before>
                <observers>
                    <csp_observer>
                        <class>csp/observer_addFrontendCspHeaders</class>
                        <method>execute</method>
                    </csp_observer>
                </observers>
            </http_response_send_before>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <csp_meta>
                    <file>csp.xml</file>
                </csp_meta>
            </updates>
        </layout>
        <csp>
            <script-src>
                <unsafe-inline>'unsafe-inline'</unsafe-inline>
            </script-src>
            <style-src>
                <unsafe-inline>'unsafe-inline'</unsafe-inline>
            </style-src>
        </csp>
        <events>
            <http_response_send_before>
                <observers>
                    <csp_observer>
                        <class>csp/observer_addAdminCspHeaders</class>
                        <method>execute</method>
                    </csp_observer>
                </observers>
            </http_response_send_before>
        </events>
    </adminhtml>
    <default>
        <csp>
            <frontend>
                <report_only>1</report_only>
                <split_headers>0</split_headers>
                <merge_meta>1</merge_meta>
                <script-src>
                    <unsafe-inline>'unsafe-inline'</unsafe-inline>
                    <unsafe-eval>'unsafe-eval'</unsafe-eval>
                    <google-analytics>www.google-analytics.com</google-analytics>
                    <gtm>www.googletagmanager.com</gtm>
                    <doubleclick>stats.g.doubleclick.net</doubleclick>
                    <paypal>www.paypal.com</paypal>
                    <paypal-objects>www.paypalobjects.com</paypal-objects>
                    <stripe>js.stripe.com</stripe>
                    <facebook>connect.facebook.net</facebook>
                </script-src>
                <style-src>
                    <unsafe-inline>'unsafe-inline'</unsafe-inline>
                    <google-fonts>fonts.googleapis.com</google-fonts>
                    <maxcdn>maxcdn.bootstrapcdn.com</maxcdn>
                </style-src>
                <img-src>
                    <ga-img>www.google-analytics.com</ga-img>
                    <doubleclick-img>stats.g.doubleclick.net</doubleclick-img>
                    <paypal-img>www.paypal.com</paypal-img>
                    <paypal-objects-img>www.paypalobjects.com</paypal-objects-img>
                    <facebook-img>connect.facebook.net</facebook-img>
                </img-src>
                <connect-src>
                    <ga-connect>www.google-analytics.com</ga-connect>
                    <paypal-connect>www.paypal.com</paypal-connect>
                    <paypal-secure>securepayments.paypal.com</paypal-secure>
                    <braintree>api.braintreegateway.com</braintree>
                    <stripe-js>js.stripe.com</stripe-js>
                    <stripe-api>api.stripe.com</stripe-api>
                </connect-src>
                <font-src>
                    <gstatic>fonts.gstatic.com</gstatic>
                    <maxcdn-font>maxcdn.bootstrapcdn.com</maxcdn-font>
                </font-src>
                <frame-src>
                    <paypal-frame>www.paypal.com</paypal-frame>
                    <amazon>payments.amazon.com</amazon>
                </frame-src>
                <form-action>
                    <paypal-form>www.paypal.com</paypal-form>
                    <paypal-secure-form>securepayments.paypal.com</paypal-secure-form>
                </form-action>
            </frontend>
            <adminhtml>
                <report_only>1</report_only>
                <split_headers>0</split_headers>
                <merge_meta>1</merge_meta>
            </adminhtml>
        </csp>
    </default>
</config>

