<?xml version="1.0"?>
<!--
/**
 * @copyright  For copyright and license information, read the COPYING.txt file.
 * @link       /COPYING.txt
 * @license    Academic Free License (AFL 3.0)
 * @package    Mage_Csp
 */
-->
<config>
    <sections>
        <csp translate="label" module="csp">
            <label>CSP protection</label>
            <tab>advanced</tab>
            <sort_order>300</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <frontend translate="label">
                    <label>CSP protection Frontend</label>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <report_only translate="label">
                            <label>Report Only</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </report_only>
                        <report_uri translate="label">
                            <label>Report URI</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </report_uri>
                        <split_headers translate="label">
                            <label>Split Headers</label>
                            <comment><![CDATA[Split headers for each directive]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </split_headers>
                        <merge_meta translate="label">
                            <label>Convert meta CSP to HTTP headers</label>
                            <comment><![CDATA[When enabled, CSP directives defined as meta tags in layout updates will be merged into HTTP response headers.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </merge_meta>
                        <default-src translate="label">
                            <label>default-src</label>
                            <frontend_model>adminhtml/system_config_form_field_csp_hosts</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </default-src>
                        <script-src translate="label">
                            <label>script-src</label>
                            <frontend_model>adminhtml/system_config_form_field_csp_hosts</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </script-src>
                        <style-src translate="label">
                            <label>style-src</label>
                            <frontend_model>adminhtml/system_config_form_field_csp_hosts</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </style-src>
                        <img-src translate="label">
                            <label>img-src</label>
                            <frontend_model>adminhtml/system_config_form_field_csp_hosts</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </img-src>
                        <connect-src translate="label">
                            <label>connect-src</label>
                            <frontend_model>adminhtml/system_config_form_field_csp_hosts</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </connect-src>
                        <font-src translate="label">
                            <label>font-src</label>
                            <frontend_model>adminhtml/system_config_form_field_csp_hosts</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </font-src>
                        <frame-src translate="label">
                            <label>frame-src</label>
                            <frontend_model>adminhtml/system_config_form_field_csp_hosts</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>26</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </frame-src>
                        <object-src translate="label">
                            <label>object-src</label>
                            <frontend_model>adminhtml/system_config_form_field_csp_hosts</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>27</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </object-src>
                        <media-src translate="label">
                            <label>media-src</label>
                            <frontend_model>adminhtml/system_config_form_field_csp_hosts</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>28</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </media-src>
                        <form-action translate="label">
                            <label>form-action</label>
                            <frontend_model>adminhtml/system_config_form_field_csp_hosts</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>29</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </form-action>
                    </fields>
                </frontend>
                <adminhtml translate="label">
                    <label>CSP protection Admin</label>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                        </enabled>
                        <report_only translate="label">
                            <label>Report Only</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </report_only>
                        <report_uri translate="label">
                            <label>Report URI</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                        </report_uri>
                        <split_headers translate="label">
                            <label>Split Headers</label>
                            <comment><![CDATA[Split headers for each directive]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </split_headers>
                        <merge_meta translate="label">
                            <label>Convert meta CSP to HTTP headers</label>
                            <comment><![CDATA[When enabled, CSP directives defined as meta tags in layout updates will be merged into HTTP response headers.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </merge_meta>
                        <default-src translate="label">
                            <label>default-src</label>
                            <frontend_model>adminhtml/system_config_form_field_csp_hosts</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </default-src>
                        <script-src translate="label">
                            <label>script-src</label>
                            <frontend_model>adminhtml/system_config_form_field_csp_hosts</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </script-src>
                        <style-src translate="label">
                            <label>style-src</label>
                            <frontend_model>adminhtml/system_config_form_field_csp_hosts</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </style-src>
                        <img-src translate="label">
                            <label>img-src</label>
                            <frontend_model>adminhtml/system_config_form_field_csp_hosts</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </img-src>
                        <connect-src translate="label">
                            <label>connect-src</label>
                            <frontend_model>adminhtml/system_config_form_field_csp_hosts</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </connect-src>
                        <font-src translate="label">
                            <label>font-src</label>
                            <frontend_model>adminhtml/system_config_form_field_csp_hosts</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </font-src>
                        <frame-src translate="label">
                            <label>frame-src</label>
                            <frontend_model>adminhtml/system_config_form_field_csp_hosts</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>26</sort_order>
                            <show_in_default>1</show_in_default>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </frame-src>
                        <object-src translate="label">
                            <label>object-src</label>
                            <frontend_model>adminhtml/system_config_form_field_csp_hosts</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>27</sort_order>
                            <show_in_default>1</show_in_default>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </object-src>
                        <media-src translate="label">
                            <label>media-src</label>
                            <frontend_model>adminhtml/system_config_form_field_csp_hosts</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>28</sort_order>
                            <show_in_default>1</show_in_default>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </media-src>
                        <form-action translate="label">
                            <label>form-action</label>
                            <frontend_model>adminhtml/system_config_form_field_csp_hosts</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>29</sort_order>
                            <show_in_default>1</show_in_default>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </form-action>
                    </fields>
                </adminhtml>
            </groups>
        </csp>
    </sections>
</config>
