<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mage_Oauth2>
            <version>1.0.0</version>
        </Mage_Oauth2>
    </modules>
    <frontend>
        <routers>
            <oauth2>
                <use>standard</use>
                <args>
                    <module>Mage_Oauth2</module>
                    <frontName>oauth2</frontName>
                </args>
            </oauth2>
        </routers>
    </frontend>
    <global>
        <blocks>
            <oauth2>
                <class>Mage_Oauth2_Block</class>
            </oauth2>
        </blocks>
        <helpers>
            <oauth2>
                <class>Mage_Oauth2_Helper</class>
            </oauth2>
        </helpers>
        <models>
            <oauth2>
                <class>Mage_Oauth2_Model</class>
                <resourceModel>oauth2_resource</resourceModel>
            </oauth2>
            <oauth2_resource>
                <class>Mage_Oauth2_Model_Resource</class>
                <entities>
                    <client>
                        <table>oauth2_client</table>
                    </client>
                    <auth_code>
                        <table>oauth2_auth_code</table>
                    </auth_code>
                    <access_token>
                        <table>oauth2_access_token</table>
                    </access_token>
                    <device_code>
                        <table>oauth2_device_code</table>
                    </device_code>
                </entities>
            </oauth2_resource>
        </models>
        <resources>
            <oauth2_setup>
                <setup>
                    <module>Mage_Oauth2</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </oauth2_setup>
            <oauth2_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </oauth2_write>
            <oauth2_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </oauth2_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mage_Oauth2 before="Mage_Adminhtml">Mage_Oauth2_Adminhtml</Mage_Oauth2>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>