<?xml version="1.0"?>
<!--
/**
 * @copyright  For copyright and license information, read the COPYING.txt file.
 * @link       /COPYING.txt
 * @license    Academic Free License (AFL 3.0)
 * @package    Mage_Oauth
 */
-->
<config>
    <modules>
        <Mage_Oauth>
            <version>1.0.0.1</version>
        </Mage_Oauth>
    </modules>
    <global>
        <models>
            <oauth>
                <class>Mage_Oauth_Model</class>
                <resourceModel>oauth_resource</resourceModel>
            </oauth>
            <oauth_resource>
                <class>Mage_Oauth_Model_Resource</class>
                <entities>
                    <consumer>
                        <table>oauth_consumer</table>
                    </consumer>
                    <token>
                        <table>oauth_token</table>
                    </token>
                    <nonce>
                        <table>oauth_nonce</table>
                    </nonce>
                </entities>
            </oauth_resource>
        </models>
        <blocks>
            <oauth>
                <class>Mage_Oauth_Block</class>
            </oauth>
        </blocks>
        <helpers>
            <oauth>
                <class>Mage_Oauth_Helper</class>
            </oauth>
        </helpers>
        <resources>
            <oauth_setup>
                <setup>
                    <module>Mage_Oauth</module>
                    <class>Mage_Oauth_Model_Resource_Setup</class>
                </setup>
            </oauth_setup>
        </resources>
        <events>
            <customer_controller_account_login_post_redirect_before>
                <observers>
                    <oauth>
                        <class>oauth/observer</class>
                        <method>afterCustomerLogin</method>
                    </oauth>
                </observers>
            </customer_controller_account_login_post_redirect_before>
            <admin_session_user_login_success>
                <observers>
                    <oauth>
                        <class>oauth/observer</class>
                        <method>afterAdminLogin</method>
                    </oauth>
                </observers>
            </admin_session_user_login_success>
            <admin_session_user_login_failed>
                <observers>
                    <oauth>
                        <class>oauth/observer</class>
                        <method>afterAdminLoginFailed</method>
                    </oauth>
                </observers>
            </admin_session_user_login_failed>
        </events>
        <template>
            <email>
                <oauth_email_template translate="label" module="oauth">
                    <label>Token Status Change</label>
                    <file>token.html</file>
                    <type>html</type>
                </oauth_email_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <oauth before="Mage_Adminhtml">Mage_Oauth_Adminhtml</oauth>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Oauth>
                    <files>
                        <default>Mage_Oauth.csv</default>
                    </files>
                </Mage_Oauth>
            </modules>
        </translate>
        <layout>
            <updates>
                <oauth>
                    <file>oauth.xml</file>
                </oauth>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <oauth>
                <use>standard</use>
                <args>
                    <module>Mage_Oauth</module>
                    <frontName>oauth</frontName>
                </args>
            </oauth>
        </routers>
        <layout>
            <updates>
                <oauth>
                    <file>oauth.xml</file>
                </oauth>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mage_Oauth>
                    <files>
                        <default>Mage_Oauth.csv</default>
                    </files>
                </Mage_Oauth>
            </modules>
        </translate>
    </frontend>
    <default>
        <oauth>
            <cleanup>
                <cleanup_probability>100</cleanup_probability>
                <expiration_period>120</expiration_period>
            </cleanup>
            <email>
                <identity>general</identity>
                <template>oauth_email_template</template>
            </email>
        </oauth>
    </default>
</config>
