<?xml version="1.0"?>
<!--
/**
 * @copyright  For copyright and license information, read the COPYING.txt file.
 * @link       /COPYING.txt
 * @license    Open Software License (OSL 3.0)
 * @package    Mage_Paypal
 */
-->
<config>
    <sections>
        <payment>
            <groups>
                <paypal translate="label" module="paypal">
                    <label>PayPal Express Checkout</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>10</sort_order>
                    <expanded>1</expanded>
                    <comment>Accept payments with PayPal Express Checkout.</comment>
                    <fields>

                        <active translate="label comment">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment>If you want to use PayPal Express Checkout, you must complete
                                the settings below.</comment>
                        </active>
                        <merchant_country translate="label comment">
                            <label>Merchant Country</label>
                            <comment><![CDATA[If not specified, Default Country from General Config will be
                                used. <a href="https://developer.paypal.com/docs/multiparty/seller-onboarding/#country-eligibility" target="_blank">Learn more about PayPal Supported Countries.</a>]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>paypal/system_config_source_merchantCountry</source_model>
                            <backend_model>paypal/system_config_backend_merchantCountry</backend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <sort_order>10</sort_order>
                            <depends>
                                <active>1</active>
                            </depends>
                            <required>1</required>
                        </merchant_country>
                        <title translate="label comment">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment>Enter the title for the PayPal Express Checkout button.</comment>
                            <depends>
                                <active>1</active>
                            </depends>
                            <required>1</required>
                        </title>
                        <client_id translate="label comment">
                            <label>Client ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment><![CDATA[Enter your PayPal REST API Client ID.<a href="https://developer.paypal.com/api/rest/#link-getclientidandclientsecret" target="_blank">Learn more about PayPal API credentials</a>]]></comment>
                            <depends>
                                <active>1</active>
                            </depends>
                            <required>1</required>
                        </client_id>
                        <client_secret translate="label comment">
                            <label>Client Secret</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment><![CDATA[Enter your PayPal REST API Client Secret.<a href="https://developer.paypal.com/api/rest/#link-getclientidandclientsecret" target="_blank">Learn more about PayPal API credentials</a>]]></comment>
                            <depends>
                                <active>1</active>
                            </depends>
                            <required>1</required>
                        </client_secret>
                        <sandbox_mode translate="label comment">
                            <label>Sandbox Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment>Enable this option to use the PayPal Sandbox environment for
                                testing.</comment>
                            <depends>
                                <active>1</active>
                            </depends>
                            <required>1</required>
                        </sandbox_mode>
                        <payment_action translate="label comment">
                            <label>Payment Action</label>
                            <frontend_type>select</frontend_type>
                            <source_model>paypal/system_config_source_paymentActions</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment>Select whether to authorize or capture the payment immediately.
                                Note: Authorization is not supported for multishipping orders and
                                will automatically use capture instead.<br /><br />When using
                                Authorize, funds are reserved for up to 29 days, but it's best to
                                capture within 3 days.</comment>
                            <depends>
                                <active>1</active>
                            </depends>
                            <required>1</required>
                        </payment_action>
                        <debug translate="label comment">
                            <label>Debug Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment>Enable this option to log PayPal API requests and responses.</comment>
                            <depends>
                                <active>1</active>
                            </depends>
                            <required>1</required>
                        </debug>
                        <button_shape>
                            <label>Button Shape</label>
                            <frontend_type>select</frontend_type>
                            <source_model>paypal/system_config_source_buttonShapes</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment><![CDATA[Select the shape of the PayPal button.<a href="https://developer.paypal.com/sdk/js/reference/#shape" target="_blank">Learn more about PayPal button shapes</a>]]></comment>
                            <depends>
                                <active>1</active>
                            </depends>
                            <required>1</required>
                        </button_shape>
                        <button_color>
                            <label>Button Color</label>
                            <frontend_type>select</frontend_type>
                            <source_model>paypal/system_config_source_buttonColors</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment><![CDATA[Select the color of the PayPal button.<a href="https://developer.paypal.com/sdk/js/reference/#color" target="_blank">Learn more about PayPal button colors</a>]]></comment>
                            <depends>
                                <active>1</active>
                            </depends>
                            <required>1</required>
                        </button_color>
                        <button_layout>
                            <label>Button Layout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>paypal/system_config_source_buttonLayouts</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment><![CDATA[Select the layout of the PayPal button.<a href="https://developer.paypal.com/sdk/js/reference/#layout" target="_blank">Learn more about PayPal button layouts</a>]]></comment>
                            <depends>
                                <active>1</active>
                            </depends>
                            <required>1</required>
                        </button_layout>
                        <button_label>
                            <label>Button Label</label>
                            <frontend_type>select</frontend_type>
                            <source_model>paypal/system_config_source_buttonLabels</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment>
                                <![CDATA[Select the label for the PayPal button.
                                <a href="https://developer.paypal.com/sdk/js/reference/#label" target="_blank">Learn more about PayPal button labels</a>]]>
                            </comment>
                            <depends>
                                <active>1</active>
                            </depends>
                            <required>1</required>
                        </button_label>
                        <button_message>
                            <label>Button Message</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment><![CDATA[Select the message to display on the PayPal button.
                                <a href="https://developer.paypal.com/sdk/js/reference/#message" target="_blank">Learn more about PayPal button messages</a>]]></comment>
                            <depends>
                                <active>1</active>
                            </depends>
                            <required>1</required>
                        </button_message>
                    </fields>
                </paypal>
            </groups>
        </payment>
    </sections>
</config>