<?xml version="1.0"?>
<!--
/**
 * @copyright  For copyright and license information, read the COPYING.txt file.
 * @link       /COPYING.txt
 * @license    Academic Free License (AFL 3.0)
 * @package    Mage_Sitemap
 */
-->
<config>
    <modules>
        <Mage_Sitemap>
            <version>1.6.0.0</version>
        </Mage_Sitemap>
    </modules>
    <global>
        <models>
            <sitemap>
                <class>Mage_Sitemap_Model</class>
                <resourceModel>sitemap_resource</resourceModel>
            </sitemap>
            <sitemap_resource>
                <class>Mage_Sitemap_Model_Resource</class>
                <deprecatedNode>sitemap_mysql4</deprecatedNode>
                <entities>
                    <sitemap>
                        <table>sitemap</table>
                    </sitemap>
                </entities>
            </sitemap_resource>
        </models>
        <resources>
            <sitemap_setup>
                <setup>
                    <module>Mage_Sitemap</module>
                </setup>
            </sitemap_setup>
        </resources>
        <template>
            <email>
                <sitemap_generate_error_email_template translate="label" module="sitemap">
                    <label>Sitemap generate Warnings</label>
                    <file>sitemap_generate_warning.html</file>
                    <type>text</type>
                </sitemap_generate_error_email_template>
            </email>
        </template>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Sitemap>
                    <files>
                        <default>Mage_Sitemap.csv</default>
                    </files>
                </Mage_Sitemap>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <sitemap>
            <page>
                <priority>0.25</priority>
                <changefreq>daily</changefreq>
                <lastmod>1</lastmod>
            </page>
            <category>
                <priority>0.5</priority>
                <changefreq>daily</changefreq>
                <lastmod>1</lastmod>
            </category>
            <product>
                <priority>1</priority>
                <changefreq>daily</changefreq>
                <lastmod>1</lastmod>
            </product>
            <generate>
                <enabled>0</enabled>
                <error_email/>
                <error_email_template>sitemap_generate_error_email_template</error_email_template>
                <error_email_identity>general</error_email_identity>
            </generate>
        </sitemap>
    </default>
    <crontab>
        <jobs>
            <sitemap_generate>
                <run>
                    <model>sitemap/observer::scheduledGenerateSitemaps</model>
                </run>
            </sitemap_generate>
        </jobs>
    </crontab>
</config>
