<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Mage
 * @package    Mage_CatalogSearch
 * @copyright  Copyright (c) 2008 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Mage_CatalogSearch>
            <version>0.7.4</version>
        </Mage_CatalogSearch>
    </modules>
    <global>
        <models>
            <catalogsearch>
                <class>Mage_CatalogSearch_Model</class>
                <resourceModel>catalogsearch_mysql4</resourceModel>
            </catalogsearch>

            <catalogsearch_mysql4>
                <class>Mage_CatalogSearch_Model_Mysql4</class>
                <entities>
                    <search_query>
                      <table>catalogsearch_query</table>
                    </search_query>
                </entities>
            </catalogsearch_mysql4>
        </models>
        <helpers>
            <catalogsearch>
                <class>Mage_CatalogSearch_Helper</class>
            </catalogsearch>
        </helpers>
        <resources>
            <catalogsearch_setup>
                <setup>
                    <module>Mage_CatalogSearch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </catalogsearch_setup>
            <catalogsearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </catalogsearch_write>
            <catalogsearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </catalogsearch_read>
        </resources>
        <blocks>
            <catalogsearch><class>Mage_CatalogSearch_Block</class></catalogsearch>
        </blocks>
    </global>
    <frontend>
        <routers>
            <catalogsearch>
                <use>standard</use>
                <args>
                    <module>Mage_CatalogSearch</module>
                    <frontName>catalogsearch</frontName>
                </args>
            </catalogsearch>
        </routers>
        <translate>
            <modules>
                <Mage_CatalogSearch>
                     <files>
                          <default>Mage_CatalogSearch.csv</default>
                     </files>
                </Mage_CatalogSearch>
            </modules>
        </translate>
        <layout>
             <updates>
                  <catalogsearch>
                        <file>catalogsearch.xml</file>
                  </catalogsearch>
             </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mage_CatalogSearch>
                     <files>
                          <default>Mage_CatalogSearch.csv</default>
                     </files>
                </Mage_CatalogSearch>
            </modules>
        </translate>
        <menu>
            <catalog>
                <children>
                    <search translate="title" module="catalogsearch">
                        <title>Search</title>
                        <action>adminhtml/catalog_search/</action>
                    </search>
                </children>
            </catalog>
        </menu>
    </adminhtml>

    <default>
        <catalog>
            <seo>
                <search_terms>1</search_terms>
                <site_map>1</site_map>
            </seo>
        </catalog>
    </default>
</config>