//colors
$openmage_base_blue: #3A499D;
$openmage_base_blue_dark: #273169;
$openmage_base_blue_text: #202856;

$black: #000;
$white: #fff;

$openmage_green_light: #e9f2d4;
$openmage_green: #56af45;
$openmage_green_dark: #185b00;

$openmage_yellow_light: #fffbf0;
$openmage_yellow: #f0ad4e;
$openmage_yellow_dark: #d87e34;

$openmage_red_light: #f3dcd8;
$openmage_red: #e63a3a;
$openmage_red_dark: #963535;

$openmage_blue_light: #f0f9ff;
$openmage_blue: #0090FF;
$openmage_blue_dark: #025988;
$openmage_blue_gray: #71798e;

$color_wild_sand_approx: #f6f6f6;
$color_white_approx: #fefefe;

$color_gallery_approx: #eee;
$color_alto_approx:  #d3d3d3;
$color_silver_approx: #c8c8c8;

$color_martini_approx: #999;
$color_dark_grey: #2f2f2f;
$black_50: rgba(0, 0, 0, 0.5);

//spacings
$menu_padding_v: 9px;
$menu_padding_h: 12px;

//fonts
$font_0: Open Sans;
$font_1: Helvetica Neue;
$font_2: Helvetica;
$font_3: Arial;
$font_4: sans-serif;

//urls login
$url_login_background: url(images/login_background.jpg);
$url_logo: url(images/logo.svg);

//urls
$url_1: url(images/information-variant.svg);
$url_2: url(images/icon-error.png);