//colors
$openmage_base_blue: #3A499D;

$color_dolphin_approx: #68666f;
$color_wild_sand_approx: #f6f6f6;
$color_curious_blue_approx: #269de7;
$color_astral_approx: #3378a3;
$color_white_approx: #fefefe;
$color_alto_approx:  lightgrey;
$color_gallery_approx: #eee;
$white: #fff;
$color_alice_blue_approx: #f0f9ff;
$color_boulder_approx: #71798e;
$black_10: rgba(0, 0, 0, 0.1);
$header_background: #000537;
$color_silver_approx: #ccc;
$wild_sand: #f4f4f4;
$color_gray_approx: #888;
$black_20_7843: rgba(0, 0, 0, 0.207843);
$color_martini_approx: #999;
$black_40: rgba(0, 0, 0, 0.4);
$color_coral_red_approx: #fa4545;
$color_merino_approx: #f9f5ec;
$color_chenin_approx: #dfc97a;
$color_pot_pourri_approx: #f3dcd8;
$color_sanguine_brown_approx: #963535;
$color_chrome_white_approx: #e4eecb;
$color_foggy_gray_approx: #ceceb6;
$color_san_felix_approx: #185b00;
$color_island_spice_approx: #fffbf0;
$color_brandy_punch_approx: #d87e34;
$mine_shaft_15: rgba(50, 50, 50, 0.15);
$color_alabaster_approx: #f8f8f8;
$color_apple_approx: #56af45;
$color_casablanca_approx: #f0ad4e;
$color_dorado_approx: darken($openmage_base_blue,19);
$color_geyser_approx: #d6e2e5;
$black_18_0392: rgba(0, 0, 0, 0.180392);
$color_bahama_blue_approx: #026294;
$color_cinnabar_approx: #e63a3a;
$color_link_water_approx: #f1f8fc;
$color_matisse_approx: #206a9b;
$color_coral_tree_approx: #a66;
$color_picton_blue_approx: #34abfa;
$color_allports_approx: #006aa9;
$color_fiord_approx: #456;
$color_your_pink_approx: #fbb;
$black: #000;
$color_solitude_approx: #def;
$color_cornflower_approx: #8fc4e8;
$color_guardsman_red_approx: #d50000;
$color_spindle_approx: #b8daf0;
$color_san_marino_approx: #46a;
$color_manatee_approx: #889;
$red: red;
$color_lime_approx: #a5ff00;
$color_dark_grey: #2f2f2f;

//spacings
$menu_padding_v: 9px;
$menu_padding_h: 12px;


$color-warning: $color_guardsman_red_approx;
$color-help: #00a9ff;
$color_action: #0090FF;

//fonts
$font_0: Open Sans;
$font_1: Helvetica Neue;
$font_2: Helvetica;
$font_3: Arial;
$font_4: sans-serif;

//urls
$url_0: url(images/logo-openmage.png);
$url_1: url(images/information-variant.svg);
$url_2: url(images/icon-error.png);
$url_3: url(images/icon-success.png);
$url_4: url(images/logo-magento.png);