<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Mage
 * @package    Mage_Customer
 * @copyright  Copyright (c) 2008 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Mage_Customer>
            <version>0.8.8</version>
        </Mage_Customer>
    </modules>

    <admin>
        <fieldsets>
            <customer_dataflow>
                <store_id><system>1</system></store_id>
                <store><ignore>1</ignore></store>
                <entity_id><system>1</system><ignore>1</ignore></entity_id>
                <attribute_set_id><system>1</system><ignore>1</ignore></attribute_set_id>
                <attribute_set><ignore>1</ignore></attribute_set>
                <entity_type_id><system>1</system></entity_type_id>
                <increment_id><system>1</system><ignore>1</ignore></increment_id>
                <parent_id><system>1</system></parent_id>
                <created_at><system>1</system></created_at>
                <updated_at><system>1</system></updated_at>
                <group_id><ignore>1</ignore></group_id>
                <type_id><system>1</system><ignore>1</ignore></type_id>
                <type><ignore>1</ignore></type>
                <created_in><system>1</system><ignore>1</ignore></created_in>
                <website_id><system>1</system></website_id>
                <default_billing><system>1</system></default_billing>
                <default_shipping><system>1</system></default_shipping>

                <prefix><billing>1</billing><shipping>1</shipping><mapped>1</mapped></prefix>
                <firstname><billing>1</billing><shipping>1</shipping><required>1</required><mapped>1</mapped></firstname>
                <middlename><billing>1</billing><shipping>1</shipping><mapped>1</mapped></middlename>
                <lastname><billing>1</billing><shipping>1</shipping><required>1</required><mapped>1</mapped></lastname>
                <suffix><billing>1</billing><shipping>1</shipping><mapped>1</mapped></suffix>
                <street_full><billing>1</billing><shipping>1</shipping></street_full>
                <street1><street>1</street></street1>
                <street2><street>1</street></street2>
                <street3><street>1</street></street3>
                <street4><street>1</street></street4>
                <street5><street>1</street></street5>
                <street6><street>1</street></street6>
                <street7><street>1</street></street7>
                <street8><street>1</street></street8>
                <city><billing>1</billing><shipping>1</shipping></city>
                <region><billing>1</billing><shipping>1</shipping></region>
                <country><billing>1</billing><shipping>1</shipping><billing_required>1</billing_required><shipping_required>1</shipping_required></country>
                <postcode><billing>1</billing><shipping>1</shipping><billing_required>1</billing_required><shipping_required>1</shipping_required></postcode>
                <telephone><billing>1</billing><shipping>1</shipping></telephone>
                <company><billing>1</billing><shipping>1</shipping></company>
                <fax><billing>1</billing><shipping>1</shipping></fax>
            </customer_dataflow>
        </fieldsets>
    </admin>

    <global>
        <fieldsets>
            <customer_account>
                <prefix><create>1</create><update>1</update><name>1</name></prefix>
                <firstname><create>1</create><update>1</update><name>1</name></firstname>
                <middlename><create>1</create><update>1</update><name>1</name></middlename>
                <lastname><create>1</create><update>1</update><name>1</name></lastname>
                <suffix><create>1</create><update>1</update><name>1</name></suffix>
                <email><create>1</create><update>1</update></email>
                <password><create>1</create></password>
                <confirmation><create>1</create></confirmation>
                <dob><create>1</create><update>1</update></dob>
                <taxvat><create>1</create><update>1</update></taxvat>
            </customer_account>
        </fieldsets>

        <customer>
            <address>
                <formats>
                    <text translate="title" module="customer">
                        <title>Text</title>
                        <defaultFormat><![CDATA[
{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}
{{depend company}}{{var company}}{{/depend}}
{{var street1}}
{{depend street2}}{{var street2}}{{/depend}}
{{depend street3}}{{var street3}}{{/depend}}
{{depend street4}}{{var street4}}{{/depend}}
{{depend city}}{{var city}},  {{/depend}}{{depend postcode}}{{var postcode}}, {{/depend}}{{var region}}
{{var country}}
T: {{var telephone}}
{{depend fax}}F: {{var fax}}{{/depend}}
                        ]]></defaultFormat>
                    </text>
                    <oneline translate="title" module="customer">
                        <title>Text One Line</title>
                        <htmlEscape>true</htmlEscape>
                        <defaultFormat>
<![CDATA[{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}, {{var street}}, {{var city}}, {{var region}} {{var postcode}}, {{var country}}]]>
                        </defaultFormat>
                    </oneline>
                    <html translate="title" module="customer">
                        <title>HTML</title>
                        <htmlEscape>true</htmlEscape>
                        <defaultFormat><![CDATA[
{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}<br/>
{{depend company}}{{var company}}<br />{{/depend}}
{{var street1}}<br />
{{depend street2}}{{var street2}}<br />{{/depend}}
{{depend street3}}{{var street3}}<br />{{/depend}}
{{depend street4}}{{var street4}}<br />{{/depend}}
{{depend city}}{{var city}},  {{/depend}}{{depend postcode}}{{var postcode}}, {{/depend}}{{var region}}<br/>
{{var country}}<br/>
{{depend telephone}}T: {{var telephone}}{{/depend}}
{{depend fax}}<br/>F: {{var fax}}{{/depend}}
            ]]></defaultFormat>
                    </html>
                    <pdf translate="title" module="customer">
                        <title>PDF</title>
                        <defaultFormat><![CDATA[
{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}|
{{depend company}}{{var company}}|{{/depend}}
{{var street1}}|
{{depend street2}}{{var street2}}|{{/depend}}
{{depend street3}}{{var street3}}|{{/depend}}
{{depend street4}}{{var street4}}|{{/depend}}
{{depend city}}{{var city}},  {{/depend}}{{depend postcode}}{{var postcode}}, {{/depend}}{{var region}}|
{{var country}}|
{{depend telephone}}T: {{var telephone}}{{/depend}}|
{{depend fax}}<br/>F: {{var fax}}{{/depend}}|
            ]]></defaultFormat>
                    </pdf>
                    <js_template template="title" module="customer">
                        <title>Javascript Template</title>
                        <defaultFormat><![CDATA[#{prefix} #{firstname} #{middlename} #{lastname} #{suffix}<br/>#{company}<br/>#{street0}<br/>#{street1}<br/>#{street2}<br/>#{street3}<br/>#{city}, #{region}, #{postcode}<br/>#{country_id}<br/>T: #{telephone}<br/>F: #{fax}]]></defaultFormat>
                    </js_template>
                </formats>
            </address>
        </customer>
        <blocks>
            <customer><class>Mage_Customer_Block</class></customer>
        </blocks>
        <models>
            <customer>
                <class>Mage_Customer_Model</class>
                <resourceModel>customer_entity</resourceModel>
            </customer>
            <customer_entity>
                <class>Mage_Customer_Model_Entity</class>
                <entities>
                    <entity>
                        <table>customer_entity</table>
                    </entity>
                    <address_entity>
                        <table>customer_address_entity</table>
                    </address_entity>
                    <value_prefix>
                        <table>customer_entity</table>
                    </value_prefix>
                    <customer_group>
                        <table>customer_group</table>
                    </customer_group>
                </entities>
            </customer_entity>
        </models>
        <resources>
            <customer_setup>
                <setup>
                    <module>Mage_Customer</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customer_setup>
            <customer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customer_write>
            <customer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customer_read>
        </resources>

        <template>
            <email>
                <customer_create_account_email_template translate="label" module="customer">
                    <label>New account</label>
                    <file>account_new.html</file>
                    <type>html</type>
                </customer_create_account_email_template>
                <customer_create_account_email_confirmation_template translate="label" module="customer">
                    <label>New account confirmation key</label>
                    <file>account_new_confirmation.html</file>
                    <type>html</type>
                </customer_create_account_email_confirmation_template>
                <customer_create_account_email_confirmed_template translate="label" module="customer">
                    <label>New account confirmed</label>
                    <file>account_new_confirmed.html</file>
                    <type>html</type>
                </customer_create_account_email_confirmed_template>
                <customer_password_forgot_email_template translate="label" module="customer">
                    <label>New password</label>
                    <file>password_new.html</file>
                    <type>html</type>
                </customer_password_forgot_email_template>
            </email>
        </template>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Customer>
                    <files>
                        <default>Mage_Customer.csv</default>
                    </files>
                </Mage_Customer>
            </modules>
        </translate>
        <menu>
            <customer translate="title" module="customer">
                <title>Customers</title>
                <sort_order>40</sort_order>
                <!-- action>adminhtml/customer/</action -->
                <children>
                    <manage translate="title" module="customer">
                        <title>Manage Customers</title>
                        <action>adminhtml/customer/</action>
                        <acl><resource>admin/customer</resource><privilege>list</privilege></acl>
                    </manage>
                    <group translate="title" module="customer">
                        <title>Customer Groups</title>
                        <action>adminhtml/customer_group/</action>
                        <resource>admin/customer/group</resource>
                    </group>
                    <online translate="title" module="customer">
                        <title>Online Customers</title>
                        <action>adminhtml/customer_online/</action>
                        <resource>admin/customer/online</resource>
                    </online>
                </children>
             </customer>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <customer>
                            <title>Customers</title>
                            <sort_order>40</sort_order>
                            <children>
                                <group>
                                    <title>Customer Groups</title>
                                    <sort_order>0</sort_order>
                                </group>
                                <manage>
                                    <title>Manage Customers</title>
                                    <sort_order>10</sort_order>
                                </manage>
                                <online>
                                    <title>Online Customers</title>
                                    <sort_order>20</sort_order>
                                </online>
                            </children>
                        </customer>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <secure_url>
            <customer>/customer/</customer>
        </secure_url>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <customer_is_logged_in_observer>
                        <type>singleton</type>
                        <class>customer/observer</class>
                        <method>beforeLoadLayout</method>
                    </customer_is_logged_in_observer>
                </observers>
            </controller_action_layout_load_before>
        </events>
        <routers>
            <customer>
                <use>standard</use>
                <args>
                    <module>Mage_Customer</module>
                    <frontName>customer</frontName>
                </args>
            </customer>
        </routers>
        <translate>
            <modules>
                <Mage_Customer>
                    <files>
                        <default>Mage_Customer.csv</default>
                    </files>
                </Mage_Customer>
            </modules>
        </translate>
      <layout>
          <updates>
              <customer>
                  <file>customer.xml</file>
              </customer>
          </updates>
      </layout>
    </frontend>

    <default>
        <customer>
            <account_share>
                <scope>1</scope> <!--0 - global, 1 - per website-->
            </account_share>
            <create_account>
                <confirm>0</confirm>
                <default_group>1</default_group>
                <email_domain>emaildomain.com</email_domain>
                <email_identity>general</email_identity>
                <email_template>customer_create_account_email_template</email_template>
                <email_confirmation_template>customer_create_account_email_confirmation_template</email_confirmation_template>
                <email_confirmed_template>customer_create_account_email_confirmed_template</email_confirmed_template>
            </create_account>

            <default>
                <group>1</group>
            </default>

            <password>
                <forgot_email_identity>support</forgot_email_identity>
                <forgot_email_template>customer_password_forgot_email_template</forgot_email_template>
            </password>

            <address>
                <street_lines>2</street_lines>
                <prefix_show></prefix_show>
                <prefix_options></prefix_options>
                <middlename_show></middlename_show>
                <suffix_show></suffix_show>
                <suffix_options></suffix_options>
                <dob_show></dob_show>
            </address>
        </customer>
    </default>
</config>