<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Mage
 * @package    Mage_Customer
 * @copyright  Copyright (c) 2008 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <tabs>
        <customer translate="label" module="customer">
            <label>Customers</label>
            <sort_order>300</sort_order>
        </customer>
    </tabs>
    <sections>
        <customer translate="label" module="customer">
            <class>separator-top</class>
            <label>Customer Configuration</label>
            <tab>customer</tab>
            <sort_order>130</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <account_share translate="label">
                    <label>Account Sharing Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <scope translate="label">
                            <label>Share Customer Accounts</label>
                            <frontend_type>select</frontend_type>
                            <backend_model>customer/config_share</backend_model>
                            <source_model>customer/config_share</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </scope>
                    </fields>
                </account_share>
                <online_customers translate="label">
                    <label>Online Customers Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <online_minutes_interval translate="label">
                            <label>Online Minutes Interval</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Leave empty for default (15 minutes).</comment>
                        </online_minutes_interval>
                    </fields>
                </online_customers>
                <create_account translate="label">
                    <label>Create New Account Options</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <default_group translate="label">
                            <label>Default Group</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_customer_group</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_group>
                        <email_domain translate="label">
                            <label>Default Email Domain</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email_domain>
                        <email_template translate="label">
                            <label>Default Welcome Email</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email_template>
                        <email_identity translate="label">
                            <label>Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email_identity>
                        <confirm translate="label">
                            <label>Require Emails Confirmation</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </confirm>
                        <email_confirmation_template translate="label">
                            <label>Confirmation Link Email</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email_confirmation_template>
                        <email_confirmed_template translate="label">
                            <label>Welcome Email</label>
                            <comment>This Email will be sent instead of Default Welcome Email, after Account Confirmation.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email_confirmed_template>
                    </fields>
                </create_account>
                <password translate="label">
                    <label>Password Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <forgot_email_identity translate="label">
                            <label>Forgot Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </forgot_email_identity>
                        <forgot_email_template translate="label">
                            <label>Forgot Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </forgot_email_template>
                    </fields>
                </password>
                <address>
                    <label>Name and Address Options</label>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <street_lines translate="label">
                            <label>Number of lines in a street address </label>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Leave empty for default (2). Valid range: 1-4</comment>
                        </street_lines>
                        <prefix_show>
                            <label>Show prefix</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_nooptreq</source_model>
                            <sort_order>20</sort_order>
                            <comment>The title that goes before name (Mr., Mrs., etc.)</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </prefix_show>
                        <prefix_options>
                            <label>Prefix dropdown options</label>
                            <sort_order>30</sort_order>
                            <comment><![CDATA[Semicolon (;) separated values.<br/>Put semicolon in the beginning for empty first option.<br/>Leave empty for open text field.]]></comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </prefix_options>
                        <middlename_show>
                            <label>Show middle name (initial)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Always optional</comment>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </middlename_show>
                        <suffix_show>
                            <label>Show suffix</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_nooptreq</source_model>
                            <comment>The suffix that goes after name (Jr., Sr., etc.)</comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </suffix_show>
                        <suffix_options>
                            <label>Suffix dropdown options</label>
                            <sort_order>60</sort_order>
                            <comment><![CDATA[Semicolon (;) separated values.<br/>Put semicolon in the beginning for empty first option.<br/>Leave empty for open text field.]]></comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </suffix_options>
                        <dob_show>
                            <label>Show date of birth</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_nooptreq</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </dob_show>
                        <taxvat_show>
                            <label>Show Tax/VAT number</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_nooptreq</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </taxvat_show>
                    </fields>
                </address>
            </groups>
        </customer>
    </sections>
</config>