.wrapper { min-width:1150px !important; }
.theme_selector ul, 
.theme_selector li {
    margin:0 !important;
    padding:0 !important;
    list-style-type:none !important; 
    background: #FFFFFF !important;
    color: black !important;
    
}
.theme_selector img { border:0; }
.theme_selector { font:11px/14px arial; }


.a_color_block,
.a_color_block:hover {
    border-bottom:1px solid #e5e5e5;color:#2d2d2d;text-decoration:none;background:url('../images/xmlconnect/switch-arrow.gif') 0 4px no-repeat;padding-left:13px;font-size:12px;
}
.field_label {
    float:left;display:block;border:1px solid #c6cbc7;width:20px;height:20px;padding:1px;
}
.field_fonts_cl {
border:1px
}
.field_colors_cl {
    border:1px}
.field_advanced_cl {
border:1px}

#field_colors { padding:0 !important; overflow:hidden !important; }
#field_colors td { padding:5px 20px !important; }
#field_colors .hor-scroll { overflow:hidden; }
.theme-select-cont { border-bottom:1px solid #dcdcdc; background:#f0f0f0; margin:-100px -100px 10px -100px; padding:100px 100px 0 100px; }
.theme-selector-title { margin:0 30px 0 0px; }