<IfModule mod_authz_host.c>
    <IfModule !mod_authz_core.c>
        #Apache 2.2
        order deny,allow
        deny from all
    </IfModule>
    <IfModule mod_authz_core.c>
        #Apache 2.3+
        Require all denied
    </IfModule>
</IfModule>
