name: Cypress

on:
  workflow_call:
  # Allow manually triggering the workflow.
  workflow_dispatch:

jobs:
  test:
    name: Cypress
    runs-on: [ubuntu-latest]
    strategy:
      matrix:
        webserver: ['nginx-fpm']

    steps:
      - uses: actions/checkout@v5
      - name: Setup DDEV
        uses: ddev/github-action-setup-ddev@v1
        with:
          autostart: false

      # install DDEV configuration
      - run: ddev config --project-type=magento --php-version=8.1 --webserver-type=${{ matrix.webserver }} --web-environment="MAGE_IS_DEVELOPER_MODE=1,OPENMAGE_CONFIG_OVERRIDE_ALLOWED=1,OPENMAGE_CONFIG__DEFAULT__GENERAL__STORE_INFORMATION__NAME=ENV name default,OPENMAGE_CONFIG__WEBSITES__BASE__GENERAL__STORE_INFORMATION__PHONE=ENV phone website,OPENMAGE_CONFIG__STORES__GERMAN__GENERAL__STORE_INFORMATION__ADDRESS=ENV address store"

      # install composer dependencies
      - run: ddev composer install

      # install openmage
      - run: ddev openmage-install -q

      # install cypress-addon
      - run: ddev add-on get tyler36/ddev-cypress

      # start ddev
      - run: ddev start

        # run cypress
      - run: ddev cypress-run --config-file .cypress.config.js

      - name: Upload screenshots
        uses: actions/upload-artifact@v5
        if: ${{ !success() }}
        with:
          name: cypress-screenshots
          path: cypress/screenshots
