# This workflow will apply a label based on the
# paths that are modified in the pull request.
#
# To use this workflow, you will need to set up a .github/labels.yml
# file with configuration.  For more information, see:
# https://github.com/marketplace/actions/prow-github-actions

name: Labeler
on:
  pull_request_target:

jobs:
  triage:
    name: Add labels
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/labeler@main
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          sync-labels: true
        continue-on-error: true
