name: PHPCS

on:
  workflow_call:
  # Allow manually triggering the workflow.
  workflow_dispatch:

jobs:
  phpcs:
    name: ${{ matrix.rules.label }}
    runs-on: [ubuntu-latest]

    strategy:
      matrix:
        rules:
          - label: Default
            path: .phpcs.dist.xml
          - label: Ecg
            path: .phpcs.dist.ecg.xml
          - label: PhpCompatibility
            path: .phpcs.dist.php.xml

    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --ignore-platform-req=ext-*

      - name: PHPCodeSniffer
        run: php vendor/bin/phpcs -s -p --report=full --standard=${{ matrix.rules.path }}
