name: PHPCS

on:
  workflow_call:
  # Allow manually triggering the workflow.
  workflow_dispatch:

jobs:
  phpcs:
    name: Validation
    runs-on: [ubuntu-latest]

    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v5
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --ignore-platform-req=ext-*

      - name: Restore result cache
        uses: actions/cache/restore@v5
        with:
          path: .phpcs.result.cache
          key: phpcs-result-cache-${{ github.run_id }}
          restore-keys: |
            phpcs-result-cache-

      - name: PHPCodeSniffer
        run: php vendor/bin/phpcs -s -p --cache=.phpcs.result.cache --report=full --standard=.phpcs.dist.xml

      - name: Save result cache
        uses: actions/cache/save@v5
        if: always()
        with:
          path: .phpcs.result.cache
          key: phpcs-result-cache-${{ github.run_id }}
