name: Release builder

on:
  release:
    types: [created]

jobs:
  release_build:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-20.04]
        php-versions: ['7.2', '7.3', '7.4', '8.0', '8.1']
    steps:
    - name: Install PHP ${{ matrix.php-versions }}
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
    - name: "Checkout repository"
      uses: actions/checkout@master
    - name: "Remove composer.lock"
      run: "rm composer.lock"
    - name: "Composer install"
      uses: MilesChou/composer-action/8.0@master
      with:
        args: install --ignore-platform-reqs
#    - name: "Move Cm_Cache_Backend_Redis /lib"
#      run: "mkdir -p lib/Cm/Cache/Backend; cp vendor/colinmollenhour/cache-backend-redis/Cm/Cache/Backend/* lib/Cm/Cache/Backend/"
    - name: "Cleanup"
      run: "git checkout composer.json composer.lock"
    - name: "Create ZIP file"
      run: zip -rq openmage-${{ github.event.release.tag_name }}-${{ matrix.php-versions }}.zip . -x ".git/*"
    - name: "Attach ZIP to GitHub release"
      uses: svenstaro/upload-release-action@master
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: openmage-${{ github.event.release.tag_name }}-${{ matrix.php-versions }}.zip
        tag: ${{ github.event.release.tag_name }}
        overwrite: true
