name: Release builder

on:
  release:
    types: [created]

jobs:
  release_build:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php-versions: ['7.4']
    steps:
    - name: Checkout repository
      uses: actions/checkout@4

    - name: Get composer cache directory
      id: composer-cache
      run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

    - name: Cache dependencies
      uses: actions/cache@v4
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: ${{ runner.os }}-composer-

    - name: Require legacy frontend themes on v19
      if: startsWith(github.event.release.tag_name, 'v19')
      run: composer require --no-install --prefer-dist --no-progress --ignore-platform-req=ext-* openmage/legacy-frontend-themes

    - name: Require Mage_Backup on v19
      if: startsWith(github.event.release.tag_name, 'v19')
      run: composer require --no-install --prefer-dist --no-progress --ignore-platform-req=ext-* openmage/module-mage-backup

    - name: Require Mage_PageCache on v19
      if: startsWith(github.event.release.tag_name, 'v19')
      run: composer require --no-install --prefer-dist --no-progress --ignore-platform-req=ext-* openmage/module-mage-pagecache

    - name: Composer install
      run: composer install --prefer-dist --no-progress --ignore-platform-req=ext-* --no-dev

    - name: Optimize autoloader
      run: composer dump-autoload --optimize

    - name: Create ZIP file
      run: zip -rq openmage-${{ github.event.release.tag_name }}.zip . -x '.git/*'

    - name: Attach ZIP to GitHub release
      uses: svenstaro/upload-release-action@master
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: openmage-${{ github.event.release.tag_name }}.zip
        tag: ${{ github.event.release.tag_name }}
        overwrite: true
