name: XML Validation

on:
  # Run on all pushes and on all pull requests.
  # Prevent the build from running when there are only irrelevant changes.
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  # Allow manually triggering the workflow.
  workflow_dispatch:

jobs:
  validate:
    runs-on: [ubuntu-latest]
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Update APT repositories
        run: "sudo apt update"

      - name: Install xmllint
        run: "sudo apt-get -y install libxml2-utils"

      - name: Validate XMLs
        run: "find . -type f -iname '*.xml' | xargs -I '{}' xmllint --noout '{}'"
