<?xml version="1.0"?>
<!--
/**
 * OpenMage
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available at https://opensource.org/license/afl-3-0-php
 *
 * @category   Mage
 * @package    Mage_GoogleCheckout
 * @copyright  Copyright (c) 2006-2020 Magento, Inc. (https://www.magento.com)
 * @copyright  Copyright (c) 2022 The OpenMage Contributors (https://www.openmage.org)
 * @license    https://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Mage_GoogleCheckout>
            <version>1.6.0.1</version>
        </Mage_GoogleCheckout>
    </modules>
    <global>
        <models>
            <googlecheckout>
                <class>Mage_GoogleCheckout_Model</class>
            </googlecheckout>
        </models>
    </global>
    <default>
        <payment>
            <googlecheckout>
                <active>1</active>
                <title>Google Checkout</title>
                <model>googlecheckout/payment</model>
            </googlecheckout>
        </payment>
    </default>
</config>
